{block title}
    Kategorie
{/block}

{block breadcrumb}
{/block}

{block content}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body table-responsive">
					{control categoryDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}
