{block title}
    Rizika
    <a n:href="Risks:add" class="btn btn-default">Přidat riziko</a>
{/block}

{block breadcrumb}
{/block}

{block content}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    {control riskDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}
