#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    # patří do config.local.neon, ale aby se to všem hned nerozbilo, tak je to dočasně tu
    # všechny emaily budou teda chodit do mého (David Spilka) mailtrapu
    mail:
        smtp: true
        host: mailtrap.io
        port: 25
        username: 444228b228b396a28
        password: 95c0e1ff524b8c
        secure: tls

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

services:
    - Nette\Mail\SmtpMailer(%mail%)

    - App\Forms\ForgottenPasswordFormFactory
    - App\Forms\SignFormFactory
    - App\Forms\EmployeeForm
    - App\Forms\RiskForm
    - App\Forms\ClientFormFactory
    - App\Forms\ProjectFormFactory
    - App\Model\Repository\EmployeeRepository
    - App\Model\Repository\CategoryRepository
    - App\Model\Repository\RiskRepository
    - App\Model\Repository\ClientRepository
    - App\Model\Repository\ProjectRepository

    - App\Model\UserManager

    router: App\RouterFactory::createRouter
