{block title}
    Zaměstnanci
    <a n:if="$user->isAllowed('Employees', 'add')" n:href="Employees:add" class="btn btn-default">Přidat zaměstnance</a>
{/block}

{block breadcrumb}
{/block}

{block content}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    {control employeeDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}
