<form n:name=$form>
    <div class="form-group has-feedback">
        {input email, class => 'form-control'}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4 pull-right">
            {input submit, class => 'btn btn-primary btn-block btn-flat'}
        </div>
        <!-- /.col -->
    </div>
</form>