{block title}
    Klienti
    <a n:if="$user->isAllowed('Clients', 'add')" n:href="Clients:add" class="btn btn-default">Vytvořit klienta</a>
{/block}

{block breadcrumb}
{/block}

{block content}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    {control clientDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}

